<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url('filter:alpha(opacity=10)');

        
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }
        
        p {
            font-size: 16px;
        }

        .margin {
            margin-bottom: 45px;
        }

        .bg-1 {
            background-color: steelblue; /* Green */

            color: #ffffff;
            filter:alpha(opacity=10)
        }

        .bg-2 {
            background-color: #474e5d; /* Dark Blue */
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff; /* White */
            color: #555555;
        }

        .bg-4 {
            background-color: #2f2f2f; /* Black Gray */
            color: #fff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }

        .navbar-nav li a:hover {
            color: #1abc9c !important;
        }
        

    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

        </div>
    </nav>

    <!-- First Container -->‎
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Pablo Pacheco</h3>
        <img src="https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/g9a9m-MHM425BWQ9F-Full-Image_GalleryBackground-en-US-1521579412582._SX1080_.jpg" class="img-circle margin" style="display:inline" alt="Bird" width="350" height="350"> <!--fetrtrtrrttrtrtrtrrt-->
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Minha História</h3>
        <p style = "font-size:large" >Apaixonado por tecnologia, sempre buscando novos desafios e conhecimentos relacionados a área da informatica, motivado pela vontade de criar e descobrir cada vez mais</p>
        <img src="\assets\img\win.png" class="img-circle" alt="icogit" height="150" width="150" />
    </div>

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">Sobre Mim</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <p>PROJETOS EM DESENVOLVIMENTO</p>
                <a href="https://github.com/pablopachecoo">
                    <div class="centered ">GitHub</div>
                    <img src="\assets\img\github.svg" alt="icogit" height="101" width="101" />
                </a>
            </div>

            <div class="col-sm-4">
                <p>PERFIL COMPORTAMENTAL</p>
                <a href="\assets\pdf\DISK.pdf">
                    <div class="centered">DISC</div>
                    <img src="\assets\img\disc.png" class="img-circle" alt="brain" height="100" width="100" />
                </a>
            </div>

            <div class="col-sm-4">
                <p>PERFIL PROFISSIONAL</p>
                <a href="https://www.linkedin.com/in/pablo-pacheco-5b8035151/">
                    <div class="centered">LinkedIn</div>
                    <img src="\assets\img\linkedin.svg" alt="icogit" height="100" width="100" />
                </a>
            </div>





        </div>
    </div>


</body>
</html>
